{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage"
    }],
    "@babel/preset-stage-0",
    "@babel/preset-react"
  ],
  "plugins": [
    "dev-expression",
    "@babel/plugin-transform-runtime",
    ["transform-react-remove-prop-types", {"mode": "wrap"}],
    "lodash"
  ]
}
